.container{
    background-color: beige;
}

.pageTitle{
    text-align: left;
    padding-left: 5%;
}

.inlineHeading{
    display: inline-block;
}

.createCallContainer{
    margin-left: 5%;
}

.inlineInput {
    display: inline-block;
}

.inlineLabel{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}  

.inlineButton{
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.callInfoContainer{
    margin-left: 5%;

}


.videoSection{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.localVideoSection{
   text-align: center;
   /* height:50px; */
}

.remoteVideosSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .remoteVideoContainer {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 10px;
  }
  
  .remoteVideo {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .remoteVideoName {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    padding: 2px 0;
  }