.Join {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 10%;
  }
  
  .Join h2 {
    text-align: left;
  }
  
  .Join form {
    display: flex;
    flex-direction: column;
  }
  
  .Join label {
    margin-bottom: 10px;
  }
  
  .Join input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 90%;
  }
  
  .Join button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Join button:hover {
    background-color: #0062cc;
  }
  