.StartCall {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10%;
  }
  
  .StartCall h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .StartCall label {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .StartCall input[type="text"] {
    width: 90%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
 
  }
  
  .StartCall button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .StartCall button[type="submit"]:hover {
    background-color: #0069d9;
  }
  